<h1>Pages#info</h1>
<p>Find me in app/views/pages/info.html.erb</p>

<table class="table">
    <th>Name</th>
    <th>Language</th>
    <tr>
        <td>Widya</td>
        <td>Ruby</td>
    </tr>
</table>
